<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include partials/head %> 
</head>

<body class="grey lighten-5">
<% include partials/navbar %>

<div class="container">

<div class="row">
<div class="col s3">
  <div class="card white">     
     <div class="card-content black-text">

    
      
     
    <img src=" <%= main_picture %>" class="circle"><br>
    <%= first_name %> <%= last_name %> </span><br>
 
  role : <%= role %><br>
  city:
  
      </div>
      </div>
      </div>

      <div class="col s9">
      <div class="card white">     
     <div class="card-content black-text">

    <div class="row">
    <% for(var i=0; i < photoArray.length; i++) { %>
    <div class="col s4">
    <a href="#" class="responsive-img" data-featherlight="<%= photoArray[i].photo %>"> <img class="responsive-img"style="display: inline-block; background-size: cover; background-position: center center; height: 27vh; width: 27vh; padding: 5px;" src="<%= photoArray[i].photo %>"></a> 
    </div>
    <% } %>

</div>
  
  </div>

  </div>


</div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
  ​<script src="javascript/init.js"></script>  
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>


